     </p>Contact Us 
      </p>
 </p>Questions or need assistance? We're here to help! Reach out to us through any of the following methods:
 </p>
 </p>📍 Office Address:
 </p>
 </p>[Inventory Pvt.Ltd]
 </p>
 </p>[Rajendra terminal road colony no 07, infront of City Centre Mall]
 </p>
      </p>[Patna, BIHAR, 840000]
          </p>

</p>📞 Phone:
</p>[97056XXXXX,97086XXXXX]

</p>📧 Email:
</p>[support@imscompany.com]

</p>🌐 Website:
</p>[www.imscompany.com]

</p>🕒 Working Hours:
</p>Monday – Friday: 9:00 AM – 6:00 PM
</p>Saturday – Sunday: Closed

</p>Alternatively, you can fill out the form below, and our team will get back to you as soon as possible.

